<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MVC Documentation - Documentación</title>
    <link rel="stylesheet" href="templates/base.css" />
  </head>
  <body>
      <h1>Examples - Ejemplos</h1>
      <ol>
          <li>
              <a href="<?php echo $dbal ?>">Doctrine DBAL Object - Objeto DBAL de Doctrine</a>
          </li>
          <li>
              <a href="<?php echo $orm ?>">Doctrine Entity Manager Object - Objeto del Entity Manager de Doctrine</a>
          </li>
          <li>
              <a href="<?php echo $monolog ?>">Monolog Logger Object - Objeto de Monolog Logger</a>
          </li>
          <li>
              <a href="<?php echo $monolog ?>">Example Twig Template rendered - Ejemplo de Template Twig renderizada</a>
          </li>
      </ol>
  </body>
</html>